# GoNest Code Owners
# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.

# Root
* @gonest-dev/core-team

# Framework modules
/gonest/core/common/        @gonest-dev/core-team
/gonest/core/validator/     @gonest-dev/core-team
/gonest/core/controller/    @gonest-dev/core-team
/gonest/core/pipes/         @gonest-dev/core-team
/gonest/core/guards/        @gonest-dev/core-team
/gonest/core/interceptors/  @gonest-dev/core-team
/gonest/core/exceptions/    @gonest-dev/core-team
/gonest/core/platform/      @gonest-dev/core-team
/gonest/packages/env/       @gonest-dev/core-team
/gonest/packages/swagger/   @gonest-dev/core-team
/gonest/packages/validator/ @gonest-dev/core-team

# Tools
/gonest-tools/              @gonest-dev/core-team

# Documentation
/gonest-docs/               @gonest-dev/docs-team

# Examples
/gonest-examples/           @gonest-dev/core-team

# CI/CD
/.github/                   @gonest-dev/core-team
