go 1.26.1

use (
	..\gonest-tools\modules
	./core/common
	./core/controller
	./core/di
	./core/exceptions
	./core/guards
	./core/interceptors
	./core/pipes
	./core/platform
	./modules/config
	./modules/tester
	./packages/dev
	./packages/env
	./packages/swagger
	./packages/validator
)
